@import "../fonts/stylesheet.css";
@import "normalize.scss";
@import "breakpoint.scss";
@import "variables.scss";
@import "utils.scss";
@import "common.scss";

* {
  font-size: 10px;
  font-weight: 300;
  color: #000;
}

p {
  padding: 0;
  margin: 0;
}

button:focus {
  outline: 0;
}
