@function rem($px) {
  @return ($px / $rem-base) + rem;
}
@mixin Text112 {
  font-size: rem($text112);
}

@mixin Text76 {
  font-size: rem($text76);
}

@mixin Text40 {
  font-size: rem($text40);
}

@mixin Text36 {
  font-size: rem($text36);
}

@mixin Text30 {
  font-size: rem($text30);
}

@mixin Text28 {
  font-size: rem($text28);
}

@mixin Text24 {
  font-size: rem($text24);
}

@mixin Text20 {
  font-size: rem($text20);
}

@mixin Text17 {
  font-size: rem($text17);
}

@mixin Text16 {
  font-size: rem($text16);
}

@mixin Text14 {
  font-size: rem($text14);
}

@mixin Text12 {
  font-size: rem($text12);
}
