$html-base: 10;
$rem-base: 10;

$primary: #2761d9;
$secondary: #000;
$base: #d4d8df;

$success: #00b089;
$warning: #fae608;
$error: #ef4e4e;

$black: #000;
$white: #fff;
$grey: #505f6d;

// Font-Sizes
$text112: 112;
$text76: 76;
$text56: 56;
$text44: 44;
$text36: 36;
$text32: 32;
$text28: 28;
$text24: 24;
$text20: 20;
$text18: 18;
$text16: 16;
$text14: 14;
$text12: 12;

// Breakpoints
$iphoneSmall: 320px;
$iphoneSemiMedium: 350px;
$iphoneMedium: 375px;
$iphoneLarge: 414px;
$webSmall: 500px;
$webMedium: 800px;
$webLarge: 1080px;
$webXLarge: 1280px;
$webXXLarge: 1900px;
