$html-base: 10;
$rem-base: 10;

$primary: #bd4082;
$secondary: #44b490;
$tertiary: #5b2f82;
$base: #fff;

$success: #27c796;
$warning: #fae608;
$error: #ef4e4e;

$greenBorder: #57ab91;

$black: #000;
$white: #fff;
$grey: #787878;

// Font-Sizes
$text112: 112;
$text76: 76;
$text56: 56;
$text40: 40;
$text36: 36;
$text30: 30;
$text28: 28;
$text24: 24;
$text20: 20;
$text17: 17;
$text16: 16;
$text14: 14;
$text12: 12;

// Breakpoints
$iphoneSmall: 320px;
$iphoneSemiMedium: 350px;
$iphoneMedium: 375px;
$iphoneLarge: 414px;
$webSmall: 500px;
$webMedium: 800px;
$webLarge: 1080px;
$webXLarge: 1280px;
$webXXLarge: 1900px;
